.body{
    font-family:'Montserrat', sans-serif;
  
}
.navigation{
   align-items: center;
    gap: 50px;
    flex-shrink: 0;
    padding: 10px;
    height: 150px;
    display: flex;
}
header{
    background-image: url(../img/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 80%;
    width:1850px;
    height: 800px;
    
}
.logo{
    margin-right: 100px;
    margin-top: -70px;
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 250px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 500px;
    margin-top: -70px;
}

.menu a{
    text-decoration: none;
    color:black;
    gap: 80px;
    font-size: 16px;
}
.menu a:hover{
    
    color:rgb(5, 69, 5);
   
}
.product-title{
    color: rgb(9, 74, 9);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
    background-color: rgb(8, 87, 8);
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 40px;
}
.container{
    text-align: center;
    margin: 50px;
    padding: 45px;
    
}

input{
    color:white;
    width: 200px;
    height: 40px;
    background-color: rgb(33, 146, 33) ;
    border: 1px green;
}
.services{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    gap: 75px;
    justify-content: center;
}
.say{
    font-size: x-small;
}
img{
    width: 330px;
    height: 330px;
    margin: 25px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
}
.img1{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
h2{
    margin-left: 350px;
}
pre{
    color: rgb(74, 73, 73); 
}

.paragraph{
    color:rgb(60, 57, 57);
    margin-left:20px ;
}
.section3{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-image:url(../img/Call-to-action.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 100px;
    height: 200px;
    margin: 20px;
}
.section4{
    border-bottom: solid 1px rgb(191, 179, 179);
 }
 .reference{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 15px;
    padding-bottom: 40px;
  
 }
 .cote{
    height: 30px;
    width:30px ;
 }
 .lot1{
    padding: 10px;
    height: 30px;
    margin-top: 20px;
    line-height: 1px;
    
 }
 .lot2{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 .lot3{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 
 .footer{
    display: flex;
    margin-bottom: 50px;
    margin-left: 150px;
    gap: 60px;
    padding: 0px;

 }
 
 .menu2{
    display: flex;
    align-items: center;
    gap: 15px;
   
}
.menu2 a{
    text-decoration: none;
    color:black;
 
}
.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}
 