/*style pour index*/
body{
    color: rgb(49, 48, 48);
}
.index_header{
    background-image: url(../img/imf25.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1850px;
    height: 800px;
    
}

.navigation{
   align-items: center;
    gap: 20px;
    padding: 10px;
    height: 150px;
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 650px;
    font-size: 20px;
}
.menu a{
    text-decoration: none;
    color:white;
   
}
.menu a:hover{
    
    color:rgb(5, 69, 5);
}

.logo{
    margin-left: 100px;
    text-decoration: none;
    color:rgb(17, 17, 17);
    font-size: 20px;
    padding: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 100px;
    margin-left: 100px;
}
.logo:hover{
    color: rgb(5, 69, 5);
}
.product-title1{
    color:rgb(248, 235, 235);  
    font-size: 100px; 
    margin-left: 130px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
}
.product-title3{
    color:rgb(248, 235, 235);  
    font-size: 100px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    margin-right: 400px;
   
}
.product-title2{
    color:rgb(248, 235, 235);  
    font-size: 100px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    margin-right: 100px;
   
}
.logo1{
    text-decoration: none;
    color: black;
}
.icons_card{
    background-color: rgb(8, 87, 8);
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 40px;
}

.container{
    text-align: center;
    margin: 50px;
    padding: 45px;
    display: flex;
    justify-content: space-around;
    
}

.say{
    font-size: x-small;
}
a{
    color: black;
    text-decoration: none;
}

h2{
    margin-left: 350px;
}
pre{
    color: rgb(74, 73, 73); 
}

.paragraph{
    color:rgb(60, 57, 57);
    margin-left:20px ;
}
.section3{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-image:url(../img/img14.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 45%;
    padding: 10%;
    height: 150px;
    border-bottom: solid 1px rgb(252, 231, 231);
}
.section3_div{
    width: 100%;
}
/*img{
    width: 100%;
    height: 100%;
   
}*/

 .reference{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 15px;
    padding-bottom: 40px;
  
 }
 .cotes{
    height: 20px;
    width:20px ;
    margin-left: 20px;
 }
 
 .index_lot1{
    padding: 10px;
    height: 30px;
    margin-top: 20px;
    line-height: 1px;
    
 }
 .index_lot2{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 .index_lot3{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 .commentaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    margin:0 20%;
    justify-content: space-between;
   
}
 .commentaire {
    width: 30%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 18px; 
}

.commentaire img {
    width: 50px;
    height: 50px;
    border-radius: 50px; 
    margin-left: 10px;
}
.commentaire p {
    margin: 0;

}

 .footer{
    display: flex;
    margin-bottom: 50px;
    margin-left: 250px;
    gap: 50px;
    padding: 0px;

 }
 .menu2{
    display: flex;
    align-items: center;
    gap: 30px;
   font-size: 20px;
}
.menu2 a{
    text-decoration: none;
    color:black;
 
}
.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}
 /*fin de style pour index*/
 /*style pour les postcards*/
 .menu1{
    display: flex;
    font-size: small;
}
 
.contenu10{
display: flex;
gap: 60px;
margin-left: 100px;
padding-top: 70px;
padding-bottom: 50px;
height: 550px;
width: 1500px;
font-size: 20px;

}
.realisation{
    display: flex;
border-bottom: solid rgb(199, 197, 197) 1px;
}
.btn_p{
    background-color: rgb(113, 150, 49);
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
.btn_p:hover{
background-color: rgb(6, 143, 6);
}
.nombre{
    border: solid rgb(39, 39, 39) 1px;
    background-color: rgb(243, 242, 242);
    width: 50px;
    height: 47px;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
   
}

.button_js{
    width: 50px;
    height: 50px;
    padding: auto;
}
.paragraph{
    display: flex;
    gap: 460px;
}

.a2p{
    text-decoration: none;
    color: rgb(105, 145, 37);
    padding-top: -20px;
}
.searchs1{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}
.search1{
    height: 100px;
    width: 350px;
}
.posv1{
font-size: xx-large; 

}
.a1p{
    text-decoration: none;
    color:rgb(126, 123, 123);
    font-size: 20px;
   
 }
 .a2p{
    text-decoration: none;
    color: darkolivegreen;
    font-size: 16px;
 }
 .a3p{
    text-decoration: none;
    color: rgb(85, 83, 83);
    font-size: 20px;
    
 }
 
.form2 input{
    height: 35px;
    width: 200px;
    font-size: 20px;
      
}
.section2post{
    margin-left: 100px;
    font-size: 18px;
    border-top: solid rgb(194, 191, 191) 1px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.relie{
    display: flex;
}
.lien{
    padding-top: 22px;
    margin-left: 5px;
}
.bodypost{
margin-left: 200px;
color: rgb(36, 35, 35);
}
.produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 50px;
    margin:0 20%;
    justify-content: space-between;
    width: 65%;
}

.produit {
    width: calc(33.33% -10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: 2%;
   
}

.produit img {
    max-width: 250px;
    height: 400px;
    
}
.produit p {
    margin: 0;

}

.produit span {
    margin: 0;
    color: gray;
}

.postcard{
    border-top: solid rgb(177, 173, 173) 1px;
    padding-top: 17px;
}
 /*fin de style de les poscards*/
 /*style pour about*/
 body{
    font-family:'Montserrat', sans-serif;
    padding: 0;
    margin: 0px;
  
}
 .about_header{
    background-image: url(../img/img24.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1850px;
    height: 800px;
    
}
.about_paragraph{
    color: rgb(49, 47, 47);
}
.btn_about{
    width: 220px;
    height: 45px;
    background-color:  rgb(108, 157, 25);
    border: 1px green;
    float: inline;
    color: white;
  
}

.btn_about:hover{
    background-color:rgb(17, 112, 33);
    float: inline;
}

h1{
    color: black;
    font-size: 30px;
}
.about_contenu{
   margin-top: 85px;
   margin-left: 100px;
   display: flex;
   gap: 100px;
    margin-bottom: 200px;
}
.mision{
    text-align: justify;
    font-size: 20px;
    color: rgb(83, 80, 80);
}
.image_about{
    width: 500px;
    height: 500px;
}

 /*fin de style pour about*/
 /*style pour contact*/
 body{
    font-family:'Montserrat', sans-serif;
     
}
.contact_navigation{
   align-items: center;
    gap: 5px;
    flex-shrink: 0;
    padding: 10px;
    height: 50px;
    display: flex;
    font-size:16px;
    padding-top: 30px;

}
.contact_header{
    background-image: url(../img/img26.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 100%;
    width:1840px;
    height: 700px;
}
.email{
    display: flex;
}

.container{
    text-align: center;
    margin: 50px;
    padding: 45px;
    
    
}
.contact_forms{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px;
    padding: 50px;
}
.formulaire_contact input{
    font-size: 15px;
    margin: 20px;
    gap: 5px;
    width: 400px;
    height: 60px;
}
textarea{
    margin-left: 20px;
    width: 400px;
    margin-bottom: 20px;
}
.button{
    color:white;
    width: 140px;
    height: 45px;
    background-color: rgb(108, 157, 25) ;
    border: 1px green;
}
.button:hover{
    color: rgb(221, 230, 224);
    background-color:rgb(4, 62, 4);
}
.btn-btn{
    margin-left: 20px;
}
h5{
    color: gray;
    font-size: 15px;
    
}
.contactp{
    color: rgb(36, 126, 36);
   
}
.email{
    width: 5px;
    height: 90px;
    line-height: 1px;
}
.EMAIL{
    background-color:rgb(213, 212, 212);
    height: 30px;
    width: 30px;
    border-radius: 100px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border: solid 1px  rgb(108, 157, 25);
}

  .lot1{
    margin-left: 20px;
    text-align: justify;
    padding-top: -20px;
  }
  .Follow{
    font-size: 20px;
    color: black;
  }
   .icons{
    display: flex;
    gap: 10px;
   }
  .icon1{
  background-color:  rgb(108, 157, 25);
  padding: 10px;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  color: aliceblue;
  }
  .icon2{
    background-color: rgb(108, 157, 25);
    padding: 10px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    color: aliceblue;
    }
  .icon3{
  background-color:rgb(108, 157, 25);
  padding: 10px;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  color: aliceblue;
  }
  .icon4{
    background-color: rgb(108, 157, 25);
    padding: 10px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    color: aliceblue;
    }
  .groupe1{
    margin-left: 20px;
  }
  .card{
    border-top: solid 1px rgb(214, 211, 211);
    padding-top: 25px;
  }
 /* fin de style pour contact
 /*style pour shop*/
 
.navigation_postcard{
   align-items: center;
    gap: 5px;
    flex-shrink: 0;
   margin-right: 50px;
   padding: 10px;
    height: 50px;
    display: flex;
    font-size: small;
    border-bottom: solid 1px rgb(214, 211, 211);
}
.paragraph{
    display: flex;
    gap: 460px;
}

.searchs1{
    display: flex;
    text-align: left;
    color: black;
    margin: 40px 50px;
    padding: 10px;
    gap: 10px;
    justify-content: center;

}
.search1{
    height: 100px;
    width: 300px;

}
.a1{
    text-decoration: none;
    color:rgb(126, 123, 123);
    font-size: small;
   
 }
.form2 {
    height: 40px;
    width: 200px;
    font-size: 20px;   
}


.text{
    color: rgb(12, 167, 12);
}

a{
    color: black;
    text-decoration: none;
} 
 /*fin style pour shop*/
/*styl pour les authentifications*/
input{
    margin-bottom: 30px;
    font-size: x-large;
   
}

.btn6{
   margin-left: 100px;
}
.title{
    text-align: center;
}
.lien{
    display: flex;
    color: black;
}
.nom{
    display: flex;
}

    
.form{
    margin-left: 150px;
    text-align: start;
   
}
.form3{
    width: 150px;
    height: 50px;
}
.formauth{
    background-image: url(../img/img14.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center, center;
}

.entete2{
    border-top: solid green 4px;
    background-color: rgb(233, 231, 231);
    width: 1525px;  
    padding-top: 10px;
    padding-bottom: 10px;
    
}  
.sectionp{
    padding-top: 50px;
    padding: 0px; 
    margin-left:50px ;
}
.checkbox{
    display: flex;
    gap: 10px;
}
/*fin du style*/