/*style pour index*/
.body{
    font-family:'Montserrat', sans-serif;
  
}
.index_navigation{
   align-items: center;
    gap: 50px;
    flex-shrink: 0;
    padding: 10px;
    height: 150px;
    display: flex;
}
.index_header{
    background-image: url(../img/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 80%;
    width:1850px;
    height: 800px;
    
}
.logo{
    margin-right: 100px;
    margin-top: -70px;
    font-size:25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 250px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 500px;
    margin-top: -70px;
}

.menu a{
    text-decoration: none;
    color:black;
    gap: 80px;
    font-size: 16px;
}
.menu a:hover{
    
    color:rgb(5, 69, 5);
   
}
.product-title1{
    color: rgb(9, 74, 9);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icons_card{
    background-color: rgb(8, 87, 8);
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 40px;
}
.container{
    text-align: center;
    margin: 50px;
    padding: 45px;
    
}
.services{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    gap: 75px;
    justify-content: center;
}
.say{
    font-size: x-small;
}
img{
    width: 330px;
    height: 330px;
    margin: 25px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
}
.img1{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
h2{
    margin-left: 350px;
}
pre{
    color: rgb(74, 73, 73); 
}

.paragraph{
    color:rgb(60, 57, 57);
    margin-left:20px ;
}
.section3{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-image:url(../img/Call-to-action.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 100px;
    height: 200px;
    margin: 20px;
}
.section4{
    border-bottom: solid 1px rgb(191, 179, 179);
 }
 .reference{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 15px;
    padding-bottom: 40px;
  
 }
 .cote{
    height: 30px;
    width:30px ;
 }
 .index_lot1{
    padding: 10px;
    height: 30px;
    margin-top: 20px;
    line-height: 1px;
    
 }
 .index_lot2{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 .index_lot3{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 
 .footer{
    display: flex;
    margin-bottom: 50px;
    margin-left: 150px;
    gap: 60px;
    padding: 0px;

 }
 
 .menu2{
    display: flex;
    align-items: center;
    gap: 15px;
   
}
.menu2 a{
    text-decoration: none;
    color:black;
 
}
.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}
 /*fin de style pour index*/
 /*style pour les postcards*/
 .body{
    font-family:'Montserrat', sans-serif;
  
}
.navigation_postcard{
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    padding: 10px;
    height: 150px;
    display: flex;

}

.logo{
    margin-right: 1000px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 100px;
    margin-left: 200px;
}
.contenu10{
display: flex;
gap: 60px;
margin-left: 100px;
padding-top: 70px;
padding-bottom: 50px;
height: 550px;
width: 1500px;
font-size: 20px;

}
.realisation{
    display: flex;
border-bottom: solid rgb(199, 197, 197) 1px;
}
.btn_p{
    background-color: rgb(113, 150, 49);
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
.btn_p:hover{
background-color: rgb(6, 143, 6);
}
.nombre{
    border: solid rgb(39, 39, 39) 1px;
    background-color: rgb(243, 242, 242);
    width: 50px;
    height: 47px;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
   
}


.imagepost{
    width: 600px; ;
    height: 350px;
}
.menu1{
    display: flex;
    font-size: small;
}
.logo1{
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 500px;
}
.menu a{
    text-decoration: none;
    color:black;
    gap: 80px;
}
.menu a:hover{
    
    color:rgb(5, 69, 5);
   
}
.button_js{
    width: 50px;
    height: 50px;
    padding: auto;
}
.paragraph{
    display: flex;
    gap: 460px;
}

.a2p{
    text-decoration: none;
    color: rgb(105, 145, 37);
    padding-top: -20px;
}
.searchs1{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}
.search1{
    height: 100px;
    width: 350px;
}
.posv1{
font-size: xx-large; 

}
.a1p{
    text-decoration: none;
    color:rgb(126, 123, 123);
    font-size: 20px;
   
 }
 .a2p{
    text-decoration: none;
    color: darkolivegreen;
    font-size: 16px;
 }
 .a3p{
    text-decoration: none;
    color: rgb(85, 83, 83);
    font-size: 20px;
    
 }
 
.form2 input{
    height: 35px;
    width: 200px;
    font-size: 20px;
      
}
.section2post{
    margin-left: 100px;
    font-size: 18px;
    border-top: solid rgb(194, 191, 191) 1px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.relie{
    display: flex;
}
.lien{
    padding-top: 22px;
    margin-left: 5px;
}
.bodypost{
margin-left: 200px;
color: rgb(36, 35, 35);
}
.Postercard1{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.Postercard2{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.Postercard3{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.postcard{
    border-top: solid rgb(177, 173, 173) 1px;
    padding-top: 17px;
}
.Postercard4{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.footer{
    display: flex;
    margin-bottom: 50px;
    margin-left: 150px;
    gap: 60px;
    padding: 0px;

 }
 
 .menu2{
    display: flex;
    align-items: center;
    gap: 15px;
   
}
.menu2 a{
    text-decoration: none;
    color:black;
 
}
.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}


 /*fin de style de les poscards*/
 /*style pour about*/
 body{
    font-family:'Montserrat', sans-serif;
    padding: 0;
    margin: 0px;
  
}

.about_navigation{
   align-items: center;
    gap: 50px;
    flex-shrink: 0;
    padding: 10px;
    height: 150px;
    display: flex;
}
 .about_header{
    background-image: url(../img/About-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1850px;
    height: 800px;
    
}
.logo{
    margin-right: 10px;
    margin-top: -70px;
    text-decoration: none;
    color: black;
    font-size: 23px;
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
}
.about_paragraph{
    color: rgb(49, 47, 47);
}
.logo1{
    text-decoration: none;
    color: black;
}
.a{
    color: black;
    text-decoration: none;
 }
.menu{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 500px;
    margin-top: -70px;
}
.menu a{
    text-decoration: none;
    color:black;
    gap: 80px;
    font-size: 16px;
}
.menu a:hover{
    
    color:rgb(5, 69, 5);
   
}

.btn_about{
    width: 220px;
    height: 45px;
    background-color:  rgb(108, 157, 25);
    border: 1px green;
    float: inline;
  
}

.btn_about:hover{
    color: rgb(221, 230, 224);
    background-color:rgb(17, 112, 33);
    float: inline;
}
.product-title{
    color: rgb(9, 74, 9);  
    font-size: 100px; 
    text-align: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
}
h1{
    color: black;
    font-size: 30px;
}
.about_contenu{
   margin-top: 85px;
   margin-left: 100px;
   display: flex;
   gap: 100px;
    margin-bottom: 200px;
}
.mision{
    text-align: justify;
    font-size: 20px;
    color: rgb(83, 80, 80);
}
.image_about{
    width: 600px;
    height: 500px;
}

.section3{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-image:url(../img/Call-to-action.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 50px;
    height: 200px;
    margin-top: 50px;
}
.footer{
    display: flex;
    margin-left: 150px;
    gap: 60px;
 }
 
 .menu2{
    display: flex;
    align-items: center;
    gap: 15px;
   
}
.menu2 a{
    text-decoration: none;
    color:black;
 
}
.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}
 /*fin de style pour about*/
 /*style pour contact*/
 body{
    font-family:'Montserrat', sans-serif;
     
}
.contact_navigation{
   align-items: center;
    gap: 5px;
    flex-shrink: 0;
    padding: 10px;
    height: 50px;
    display: flex;
    font-size:16px;
    padding-top: 30px;

}
.contact_header{
    background-image: url(../img/Call-to-action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 50%;
    width:1840px;
    height: 700px;
}
.logo{
    margin-right: 100px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 0px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 250px;
    margin-top: -2px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 500px;
    margin-top: -2px;
}
.product-title{
    color: rgb(108, 157, 25); 
    font-size: 90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.email{
    display: flex;
}

.menu a{
    text-decoration: none;
    color:black;
    gap: 80px;
}
.menu a:hover{
    
    color:rgb(5, 69, 5);
   
}
.logo1{
    text-decoration: none;
    color: black;
}
.container{
    text-align: center;
    margin: 50px;
    padding: 45px;
    
    
}
.contact_forms{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px;
    padding: 50px;
}
.form3 input{
    font-size: 15px;
    margin: 20px;
    gap: 5px;
    width: 400px;
    height: 40px;
}
textarea{
    margin-left: 20px;
    width: 400px;
    margin-bottom: 20px;
}
.button{
    color:white;
    width: 140px;
    height: 45px;
    background-color: rgb(108, 157, 25) ;
    border: 1px green;
}
.button:hover{
    color: rgb(221, 230, 224);
    background-color:rgb(4, 62, 4);
}
.btn-btn{
    margin-left: 20px;
}
h5{
    color: gray;
    font-size: 15px;
    
}
.contactp{
    color: rgb(36, 126, 36);
   
}
.email{
    width: 5px;
    height: 90px;
    line-height: 1px;
}
.EMAIL{
    background-color:rgb(213, 212, 212);
    height: 30px;
    width: 30px;
    border-radius: 100px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border: solid 1px  rgb(108, 157, 25);
}

  .lot1{
    margin-left: 20px;
    text-align: justify;
    padding-top: -20px;
  }
  .Follow{
    font-size: 20px;
    color: black;
  }
   .icons{
    display: flex;
    gap: 10px;
   }
  .icon1{
  background-color:  rgb(108, 157, 25);
  padding: 10px;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  color: aliceblue;
  }
  .icon2{
    background-color: rgb(108, 157, 25);
    padding: 10px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    color: aliceblue;
    }
  .icon3{
  background-color:rgb(108, 157, 25);
  padding: 10px;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  color: aliceblue;
  }
  .icon4{
    background-color: rgb(108, 157, 25);
    padding: 10px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    color: aliceblue;
    }
  .groupe1{
    margin-left: 20px;
  }
  .card{
    border-top: solid 1px rgb(214, 211, 211);
    padding-top: 25px;
  }

.contact-footer{
    display: flex;
    padding-top: 600px;
    margin-left: 40px;
    gap: 60px;
   font-size: 15px;
   padding: 0px;
 }
 
 .menu2{
    display: flex;
    align-items: center;
    gap: 15px;
   
}
.menu2 a{
    text-decoration: none;
    color:black;
    font-size: 15px;
}
.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}
 /* fin de style pour contact
 /*style pour shop*/
 body{
    font-family:'Montserrat', sans-serif;
  
}
.navigation_postcard{
   align-items: center;
    gap: 5px;
    flex-shrink: 0;
   margin-right: 50px;
   padding: 10px;
    height: 50px;
    display: flex;
    font-size: small;
    border-bottom: solid 1px rgb(214, 211, 211);

}
.logo{
    margin-right: 1000px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 100px;
    margin-left: 200px;
}

.logo1{
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 500px;
}
.menu a{
    text-decoration: none;
    color:black;
    gap: 80px;
}
.menu a:hover{
    
    color:rgb(5, 69, 5);
   
}
.paragraph{
    display: flex;
    gap: 460px;
}

.searchs1{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}
.search1{
    height: 100px;
    width: 350px;
}
.a1{
    text-decoration: none;
    color:rgb(126, 123, 123);
    font-size: small;
   
 }
.input{
    height: 35px;
    width: 200px;
    font-size: 20px;
    
    
    
}
.Postercard1{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.Postercard2{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.Postercard3{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.Postercard4{
    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}
.text{
    color: rgb(12, 167, 12);
}

img{
    width: 240px;
    height: 280px;
    margin: 25px;
    padding: 0px;
}
a{
    color: black;
    text-decoration: none;
}
 
 .footer{
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    margin-right: 50px;
    padding: 0px;
    display: flex;
    font-size: large;

   
 }
 
 .menu2{
    display: flex;
    align-items: center;
    align-items: center;
    gap: 80px;
    margin-left: 400px;
   
}
.menu2 a{
    text-decoration: none;
    color:black;
 
}

.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}
 
 /*fin style pour shop*/
/*styl pour les authentifications*/
input{
    margin-bottom: 30px;
    font-size: x-large;
   
}
form{
    width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate((-50%,-50%));
}

.btn6{
   margin-left: 100px;
}
.title{
    text-align: center;
}
.logo{
    text-decoration: none;
    margin-inline-end: auto;
    color: black;
}

.lien{
    display: flex;
    color: black;
}


/*fin du style*/