/*style pour index*/
body{
    color: rgb(49, 48, 48);
  
}

header.index_header{
    background-image: url(../img/imf25.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1850px;
    height: 800px;
    

}

.navigationindex{
    padding: 0px;
    width: 100%;
    display: flex;
    margin-left: 100px;
    height: auto;
    width: 100px;
    .menu1{
    font-size: 20px;
    margin-left: 800px;
    padding: 50px;

    }
    .menu1 a{
        text-decoration: none;
        color:white;
        font-weight: bolder;
        margin-left: 50px;
       
    }
    .menu1 a:hover{
        color:rgb(5, 69, 5);
    }
    .logo2{
        margin-left: 10px;
        text-decoration: none;
        color:white;
        font-size: 25px;
        padding-top: 50px; 
        margin-right: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
       
    }
}
.product-title1{
    color:rgb(248, 235, 235);  
    font-size: 100px; 
    margin-left: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
}

.product-title3{
    color:rgb(248, 235, 235);  
    font-size: 100px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    margin-right: 400px;
   
}
.product-title2{
    color:rgb(248, 235, 235);  
    font-size: 100px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    margin-right: 100px;
   
}
.logo1{
    text-decoration: none;
    color: black;
}
.icons_card{
    background-color: rgb(8, 87, 8);
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-top: 40px;
}

.container{
    text-align: center;
    margin: 50px;
    padding: 45px;
    display: flex;
    justify-content: space-around;
    
}

.say{
    font-size: x-small;
}
a{
    color: black;
    text-decoration: none;
}

h2{
    margin-left: 350px;
}
pre{
    color: rgb(74, 73, 73); 
}

.paragraph{
    color:rgb(60, 57, 57);
    margin-left:20px ;
}
.section3{
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-image:url(../img/img14.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 45%;
    padding: 10%;
    height: 150px;
    border-bottom: solid 1px rgb(252, 231, 231);
    
}
.section3_div{
    width: 100%;
}
.avis1{
    margin-left: 370px;
}
.avis1 a{
    width: 270px; 
    height:30px;
    padding: 7px;
    color: white;
     background-color: rgb(113, 150, 49) ; 
     border: 1px solid  rgb(113, 150, 49);
}
.avis2 a{
    width: 350px; 
    height:30px;
    padding: 7px;
    color: white;
     background-color:goldenrod ; 
     border: 1px solid goldenrod;
}
.avis3 a{
    width: 350px; 
    height:30px;
    padding: 7px;
    color: white;
     background-color: red; 
     border: 1px solid red;
}
.imagepost{
    width: 400px;
    height: 400px;
    margin-left: 200px;   
}


 .reference{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 15px;
    padding-bottom: 40px;
  
 }
 .cotes{
    height: 20px;
    width:20px ;
    margin-left: 20px;
 }
 
 .index_lot1{
    padding: 10px;
    height: 30px;
    margin-top: 20px;
    line-height: 1px;
    
 }
 .index_lot2{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 .index_lot3{
    padding: 10px;
    height: 30px;
    margin-top: -70px;
    line-height: 1px;
    margin-left: 60px;
    
 }
 .commentaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    margin:0 20%;
    justify-content: space-between;
   
}
 .commentaire {
    width: 30%;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 18px; 
}

.commentaire img {
    width: 50px;
    height: 50px;
    border-radius: 50px; 
    margin-left: 10px;
}
.commentaire p {
    margin: 0;

}

 
 footer{
   border-top: solid 1px rgb(212, 208, 208);
   .footerindex{
    display: flex;
    margin-bottom: 50px;
    margin-left: 200px;
    gap: 55px;
    padding: 0px;
    padding-top: 15px;
 }
   .footer{
    display: flex;
    margin-bottom: 50px;
    margin-left: 200px;
    gap: 55px;
    padding: 0px;
    padding-top: 15px;
 }
 .menu2{
    display: flex;
    align-items: center;
    gap: 25px;
   font-size: 20px;
}
.menu2 a{
    text-decoration: none;
    color:black;
 
}
.menu2 a:hover{
    
    color:rgb(13, 115, 13);
}

 }
 
 /*fin de style pour index*/
 /*style pour les postcards*/
 .menu1{
    display: flex;
    font-size: small;
}
 
.imagepost{
    width: 300px;
    height: 400px;   
}
.post_section{
    padding-top: 100px;
}
.contenu10{
display: flex;
gap: 60px;
margin-left: 100px;
padding-top: 70px;
height: 550px;
width: 1500px;
font-size: 20px;

}
.realisation{
    display: flex;
border-bottom: solid rgb(199, 197, 197) 1px;
}
.btn_p{
    background-color: rgb(113, 150, 49);
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
.btn_p:hover{
background-color: rgb(6, 143, 6);
}
.nombre{
    border: solid rgb(39, 39, 39) 1px;
    background-color: rgb(243, 242, 242);
    width: 50px;
    height: 47px;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
   
}

.button_js{
    width: 50px;
    height: 50px;
    padding: auto;
}
.paragraph{
    display: flex;
    gap: 460px;
}

.a2p{
    text-decoration: none;
    color:rgb(148, 228, 9);
    padding-top: -20px;
}
.searchs1{

    display: flex;
    text-align: left;
    color: black;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}
.search1{
    height: 100px;
    width: 350px;
}
.posv1{
font-size: xx-large; 

}
.a1p{
    text-decoration: none;
    color:rgb(126, 123, 123);
    font-size: 20px;
   
 }

 .a4p{
    text-decoration: none;
    color: darkgreen;
    font-size: 20px;
 }
 .a3p{
    text-decoration: none;
    color: rgb(85, 83, 83);
    font-size: 20px;
    
 }
 
.form2 input{
    height: 35px;
    width: 200px;
    font-size: 20px;
      
}

.relie{
    display: flex;
}
.lien{
    padding-top: 22px;
    margin-left: 5px;
}

.produitsde {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 50px;
    margin:0 20%;
    justify-content: space-between;
    width: 65%;
}

.produitde {
    width: calc(33.33% -10px);
    margin-bottom: 20px;
    box-sizing: border-box;  
    margin: 1%; 
}

.produitde img {
    max-width: 250px;
    height: 400px;
    
}
.produitde p {
    margin: 0;

}

.produitde span {
    margin: 0;
    color: gray;
}


 /*fin de style de les poscards*/
 /*style pour about*/
 body{
    font-family:'Montserrat', sans-serif;
    padding: 0;
    margin: 0px;
  
}
 .about_header{
    background-image: url(../img/img24.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1850px;
    height: 800px;
    
}
.navigation{
    display: flex;
    width: 100%;
    margin-left: 100px;
    height: auto;
    width: 100px;
    font-weight: bolder;

    .menu{
    font-size: 20px;
    margin-left: 550px;
    padding: 10px;
    display: flex;
    gap: 20px;
    padding-top: 60px;
    }
    .menu a{
        text-decoration: none;
        color:white;
        margin-left: 30px;
       display: flex;
       gap: 10px;
    }
    .menu a:hover{
        color:rgb(5, 69, 5);
    }
    .logo{
        margin-left: 10px;
        text-decoration: none;
        color:white;
        font-size: 20px;
        padding-top: 50px; 
        margin-right: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
       
    }
}
.about_paragraph{
    color: rgb(49, 47, 47);
}
.btn_about{
    width: 220px;
    height: 45px;
    background-color:  rgb(108, 157, 25);
    border: 1px green;
    float: inline;
    color: white;
  
}

.btn_about:hover{
    background-color:rgb(17, 112, 33);
    float: inline;
}

h1{
    color: black;
    font-size: 30px;
}
.about_contenu{
   margin-top: 85px;
   margin-left: 100px;
   display: flex;
   gap: 100px;
    margin-bottom: 200px;
}
.mision{
    text-align: justify;
    font-size: 20px;
    color: rgb(83, 80, 80);
}
.image_about{
    width: 500px;
    height: 500px;
}

 /*fin de style pour about*/
 /*style pour contact*/
 body{
    font-family:'Montserrat', sans-serif;
     
}
.contact_navigation{
   align-items: center;
    gap: 5px;
    flex-shrink: 0;
    padding: 10px;
    height: 50px;
    display: flex;
    font-size:16px;
    padding-top: 30px;

}
.contact_header{
    background-image: url(../img/img26.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 100%;
    width:1840px;
    height: 700px;
}
.email{
    display: flex;
}

.container{
    text-align: center;
    margin: 50px;
    padding: 45px;
    
    
}
.contact_forms{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px;
    padding: 50px;
}
.formulaire_contact input{
    font-size: 15px;
    margin: 20px;
    gap: 5px;
    width: 400px;
    height: 60px;
}
textarea{
    margin-left: 20px;
    width: 400px;
    margin-bottom: 20px;
}
.button{
    color:white;
    width: 140px;
    height: 45px;
    background-color: rgb(108, 157, 25) ;
    border: 1px green;
}
.button:hover{
    color: rgb(221, 230, 224);
    background-color:rgb(4, 62, 4);
}
.btn-btn{
    margin-left: 20px;
}
h5{
    color: gray;
    font-size: 15px;
    
}
.contactp{
    color: rgb(36, 126, 36);
   
}
.email{
    width: 5px;
    height: 90px;
    line-height: 1px;
}
.EMAIL{
    background-color:rgb(213, 212, 212);
    height: 30px;
    width: 30px;
    border-radius: 100px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    border: solid 1px  rgb(108, 157, 25);
}

  .lot1{
    margin-left: 20px;
    text-align: justify;
    padding-top: -20px;
  }
  .Follow{
    font-size: 20px;
    color: black;
  }
   .icons{
    display: flex;
    gap: 10px;
   }
  .icon1{
  background-color:  rgb(108, 157, 25);
  padding: 10px;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  color: aliceblue;
  }
  .icon2{
    background-color: rgb(108, 157, 25);
    padding: 10px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    color: aliceblue;
    }
  .icon3{
  background-color:rgb(108, 157, 25);
  padding: 10px;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  color: aliceblue;
  }
  .icon4{
    background-color: rgb(108, 157, 25);
    padding: 10px;
    border-radius: 100px;
    height: 15px;
    width: 15px;
    color: aliceblue;
    }
  .groupe1{
    margin-left: 20px;
  }
  .card{
    border-top: solid 1px rgb(214, 211, 211);
    padding-top: 25px;
  }
 /* fin de style pour contact
 /*style pour shop*/
 
 .shop_header{
    width:100%;
    height: auto;
 }
.navigation_shop{
   align-items: center;
    gap: 5px;
   margin-right: 50px;
    height: auto;
    width: 100%;
    display: flex;
    font-size: small;
    padding-bottom: 20px;
    position: fixed;
    background-color:white;
    .menu{
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 500px;
        font-size: 20px;
    }
    .menu a{
        text-decoration: none;
        color:rgb(22, 21, 21);
       
    }
    .menu a:hover{
        
        color:rgb(5, 69, 5);
    }
    
}
.logo{
    margin-left: 100px;
    text-decoration: none;
    color:rgb(17, 17, 17);
    font-size: 20px;
    padding: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}
.logo:hover{
    color: rgb(5, 69, 5);
}
.paragraph{
    display: flex;
    gap: 460px;
}
.recherche{
    padding-top: 100px;
}
.searchs1{
    display: flex;
    text-align: left;
    color: black;
    margin: 40px 50px;
    padding: 10px;
    gap: 10px;
    justify-content: center;

}
.search1{
    height: 100px;
    width: 300px;

}
.a1{
    text-decoration: none;
    color:rgb(126, 123, 123);
    font-size: small;
   
 }
.form2 {
    height: 40px;
    width: 200px;
    font-size: 20px;   
}


.text{
    color: rgb(12, 167, 12);
}

a{
    color: black;
    text-decoration: none;
} 
.produits {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 50px;
    margin:0 20%;
    justify-content: space-between;
    width: 65%;
}

.produit {
    width: calc(33.33% -10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: 2%;
   
}

.produit img {
    max-width: 250px;
    height: 400px;
    
}
.produit p {
    margin: 0;

}

.produit span {
    margin: 0;
    color: gray;
}

 /*fin style pour shop*/
/*styl pour les authentifications*/
input{
    margin-bottom: 30px;
    font-size: x-large;
   
}

.btn6{
   margin-left: 100px;
}
.title{
    text-align: center;
}
.lien{
    display: flex;
    color: black;
  
}
.nom{
    display: flex;
}

    
.form{
    margin-left: 150px;
    text-align: start;
   
}
.form3{
    width: 150px;
    height: 50px;
}
.formauth{
    background-image: url(../img/img14.jpg);
    background-repeat: no-repeat;
    background-position: center, center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.formauth1{
    background-image: url(../img/img14.jpg);
    background-repeat: no-repeat;
    background-position: center, center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entete2{
    border-top: solid green 4px;
    background-color: rgb(233, 231, 231);
    width: 1525px;  
    padding-top: 10px;
    padding-bottom: 10px;
    
}  
.sectionp{
    padding-top: 50px;
    padding: 0px; 
    margin-left:50px ;
}
.checkbox{
    display: flex;
    gap: 10px;
}


.bodypanier{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headerpanier{
    height: 80px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: goldenrod;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}
.headpanier{
background-color: goldenrod;
border-radius: 3px;
height: 40px;
padding: 10px;
margin-bottom: 20px;
color: white;
display: flex;
align-items: center;

}
.containerpanier{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2.1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

/*style pour la page update commentaire juste un margin top*/
.title_com{
    margin-top: 50px;
}
.menu_dashbord{
    font-size: 20px;
    margin-left: -400px;
    background-color: rgb(171, 243, 243);
    border: solid 1px rgb(184, 221, 221);
    padding-top: 10px;
    }
    .menu_dashbord a{
        text-decoration: none;
        color:black;
        width: 800px;
        height: 30px;
        margin: 20px;
        
    }
    .menu_dashbord a:hover{
        color:rgb(5, 69, 5);
    }
    .logo2{
        text-decoration: none;
        color:rgb(8, 8, 8);
        font-size: 25px;
        padding-top: 50px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
    }
    .group_dasbord{
        border-left: solid 10px gray;
         padding:9px
    }
    .avis4{
        padding-bottom: 60px;
    
    }
    .searchs2{
        display: flex;
        text-align: left;
        color: black;
        margin: 40px 50px;
        padding: 10px;
        gap: 50px;
        justify-content: center;
        margin-left: 500px;
    
    }

/*fin du style*/